[submodule "NexShell/SupportLibraries/GenericBuffer"]
	path = NexShell/SupportLibraries/GenericBuffer
	url = https://github.com/pic32/GenericBuffer
[submodule "NexShell/SupportLibraries/LinkedList"]
	path = NexShell/SupportLibraries/LinkedList
	url = https://github.com/pic32/LinkedList
[submodule "NexShell/FileSystem/FatFs"]
	path = NexShell/FileSystem/FatFs
	url = https://github.com/pic32/FatFs
