# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/GenericBuffersTesting/v16/.suo
GenericBuffersTesting.sdf
GenericBuffersTesting.sln
GenericBuffersTesting.suo
GenericBuffersTesting.v12.suo
GenericBuffersTesting/Debug/cl.command.1.tlog
GenericBuffersTesting/Debug/CL.read.1.tlog
GenericBuffersTesting/Debug/CL.write.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/cl.command.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/CL.read.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/CL.write.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/GenericBuffersTesting.lastbuildstate
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/link.command.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/link.read.1.tlog
GenericBuffersTesting/Debug/GenericB.945E190D.tlog/link.write.1.tlog
GenericBuffersTesting/Debug/GenericBuffersTesting.exe.embed.manifest
GenericBuffersTesting/Debug/GenericBuffersTesting.exe.embed.manifest.res
GenericBuffersTesting/Debug/GenericBuffersTesting.exe.intermediate.manifest
GenericBuffersTesting/Debug/GenericBuffersTesting.lastbuildstate
GenericBuffersTesting/Debug/GenericBuffersTesting.log
GenericBuffersTesting/Debug/GenericBuffersTesting_manifest.rc
GenericBuffersTesting/Debug/link-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.2828-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.2828-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.2828.read.1.tlog
GenericBuffersTesting/Debug/link.2828.write.1.tlog
GenericBuffersTesting/Debug/link.3012-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.3012-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.3012.read.1.tlog
GenericBuffersTesting/Debug/link.3012.write.1.tlog
GenericBuffersTesting/Debug/link.3308-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.3308-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.3308.read.1.tlog
GenericBuffersTesting/Debug/link.3308.write.1.tlog
GenericBuffersTesting/Debug/link.3352-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.3352-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.3352.read.1.tlog
GenericBuffersTesting/Debug/link.3352.write.1.tlog
GenericBuffersTesting/Debug/link.3868-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.3868-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.3868.read.1.tlog
GenericBuffersTesting/Debug/link.3868.write.1.tlog
GenericBuffersTesting/Debug/link.4088-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.4088-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.4088.read.1.tlog
GenericBuffersTesting/Debug/link.4088.write.1.tlog
GenericBuffersTesting/Debug/link.4364-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.4364-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.4364.read.1.tlog
GenericBuffersTesting/Debug/link.4364.write.1.tlog
GenericBuffersTesting/Debug/link.4416-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.4416-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.4416.read.1.tlog
GenericBuffersTesting/Debug/link.4416.write.1.tlog
GenericBuffersTesting/Debug/link.4756-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.4756-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.4756.read.1.tlog
GenericBuffersTesting/Debug/link.4756.write.1.tlog
GenericBuffersTesting/Debug/link.5284-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.5284-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.5284.read.1.tlog
GenericBuffersTesting/Debug/link.5284.write.1.tlog
GenericBuffersTesting/Debug/link.5300-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.5300-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.5300.read.1.tlog
GenericBuffersTesting/Debug/link.5300.write.1.tlog
GenericBuffersTesting/Debug/link.5308-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.5308-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.5308.read.1.tlog
GenericBuffersTesting/Debug/link.5308.write.1.tlog
GenericBuffersTesting/Debug/link.5668-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.5668-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.5668.read.1.tlog
GenericBuffersTesting/Debug/link.5668.write.1.tlog
GenericBuffersTesting/Debug/link.5924-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.5924-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.5924.read.1.tlog
GenericBuffersTesting/Debug/link.5924.write.1.tlog
GenericBuffersTesting/Debug/link.6112-cvtres.read.1.tlog
GenericBuffersTesting/Debug/link.6112-cvtres.write.1.tlog
GenericBuffersTesting/Debug/link.6112.read.1.tlog
GenericBuffersTesting/Debug/link.6112.write.1.tlog
GenericBuffersTesting/Debug/link.command.1.tlog
GenericBuffersTesting/Debug/link.read.1.tlog
GenericBuffersTesting/Debug/link.write.1.tlog
GenericBuffersTesting/Debug/mt.command.1.tlog
GenericBuffersTesting/Debug/mt.read.1.tlog
GenericBuffersTesting/Debug/mt.write.1.tlog
GenericBuffersTesting/Debug/rc.command.1.tlog
GenericBuffersTesting/Debug/rc.read.1.tlog
GenericBuffersTesting/Debug/rc.write.1.tlog
GenericBuffersTesting/GenericBuffersTesting.c
GenericBuffersTesting/GenericBuffersTesting.vcxproj
GenericBuffersTesting/GenericBuffersTesting.vcxproj.filters
GenericBuffersTesting/GenericBuffersTesting.vcxproj.user
GenericBuffersTesting/GenericTypeDefs.h
GenericBuffersTesting/ReadMe.txt
GenericBuffersTesting/stdafx.c
GenericBuffersTesting/stdafx.h
GenericBuffersTesting/targetver.h
ipch/genericbufferstesting-4a797b99/genericbufferstesting-47f90ef4.ipch
ipch/genericbufferstesting-50fc2812/genericbufferstesting-47f90ef4.ipch
UpgradeLog.htm
